@import "vars";
@import "mixins";

#footer {
    background-color: $inverted-bg;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: $spacing;
    > * + * {
        margin-left: $spacing;
    }
}
