@import "vars";
@import "mixins";

$min_width: strip-unit(map-get($breakpoints, 'phone')) !default;
$max_width: strip-unit(map-get($breakpoints, 'desktop')) !default;
$min_font: 16 !default;
$max_font: 24 !default;

:root { font-size: #{$min_font}px; }
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
    :root {
        font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
    }
}
@media (min-width: #{$max_width}px){
    :root {
        font-size: #{$max_font}px;
    }
}